<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioConverter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AudioConverterKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2655BBC91E136782004D3039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2655BBE21E136783004D3039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26CB67D91E1576C900618052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26CB67E11E1576CA00618052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
